.classified-page {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'SairaStencilOne', monospace;
  color: #ffffff;
  background: linear-gradient(160deg, #1b002c, #000000);
  padding: 2rem;
  user-select: none;
}

.classified-page h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #cd8dff;
}

.classified-page p {
  font-size: 1.4rem;
  font-family: 'VT323', monospace;
  letter-spacing: 0.1em;
}
