@font-face {
  font-family: 'VT323';
  src: url('/public/fonts/VT323/VT323-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ShareTechMono';
  src: url('/public/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SairaStencilOne';
  src: url('/public/fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf') format('truetype');
}



@font-face {
  font-family: 'CinzelDecorative';
  src: url('/public/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
}

