@import url('./fonts.css');


footer {
    background: linear-gradient(90deg, #1b002c 0%, #000000 100%);
    color: #fff;
    padding-top: 2rem;
}

.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div {
    margin: 0 auto;
}

.title{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'SairaStencilOne', monospace;
}

.social-title{
    font-family: 'SairaStencilOne', monospace;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.social-link-container{
    display: flex; 
    margin-top: 1rem;
}

.social-link-container:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease;
}

.social-link{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    column-gap: 1rem;    
}

.social-name{
    font-family: 'VT323', monospace;
    font-size: 1.4rem;
}

.social-icon{
    width: 28px;
    height: 28px;
}

.profile-image{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.profile-image:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease;
}

.copyright-text{
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 1rem;
    font-family: 'VT323', monospace;
    background-color: #000000;
    width: 100%;
}


@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .profile-image {
        margin-top: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .social-title {
        font-size: 1.2rem;
    }
}
