@import url('./fonts.css');

.footer-head {
    padding: 3rem 2rem;
    background: linear-gradient(90deg, #550195, #000000, #000000);
    color: #fff;
}

.footer-main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

footer div {
    margin: 0 auto;
}

.footer-title{
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: 'SairaStencilOne', monospace;
}

.footer-social-title{
    font-family: 'SairaStencilOne', monospace;
    font-size: 1.5rem;
    color: #cd8dff;
}

.social-links-container{
    display: flex;
    flex-direction: column;
}

.footer-social-link-container{
    display: flex; 
    margin: 10px;
    justify-content: center;
}

.footer-social-link-container:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease;
}

.footer-social-link{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    column-gap: 16px;    
}

.footer-social-name{
    font-family: 'VT323', monospace;
    font-size: 1.4rem;
}

.footer-social-icon{
    width: 28px;
    height: 28px;
}

.footer-profile-image{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.footer-profile-image:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease;
}

.footer-copyright-text{
    font-size: 1.3rem;
    font-family: 'VT323', monospace;
    background-color: #000000;
    width: 100%;
    color: #9c4afa;
    padding: 20px;
}

@media (max-width: 768px){
    .footer-main-container{
        padding: 1rem;
    }
}

@media (max-width: 850px) {
    .footer-head{
        background: linear-gradient(210deg, #550195, #000000, #000000);
    }

    .footer-main-container {
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        text-align: center;
    }
       
    .footer-title{
        font-size: 1.6rem;
        margin-bottom: 1px;
    }

    .footer-social-title {
        font-size: 1.2rem;
        margin-bottom: 24px;
    }

    .footer-social-name{
        font-size: 1.12rem;
    }

    .footer-social-links-container {
        margin-bottom: 24px;
    }

    .footer-copyright-text{
        font-size: 1.04rem;
    }

    .footer-social-link-container{
        margin: 6px;
    }

}
