.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, #1b002c, #000);
    color: white;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'SairaStencilOne', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
}

.nav-links a:hover {
    color: #00ffff;
    transition: 0.3s;
}
