.prject-section {
    background: linear-gradient(90deg, #1b002c 0%, #000000 100%);
    color: #fff;
    padding: 2rem;
}

.project-s-title{
    font-size: 2rem;
    font-family: 'SairaStencilOne', monospace;
    margin-bottom: 30px
}

.project-s-description{
    font-family: 'VT323', monospace;
    font-size: 1.4rem;
    margin-bottom: 24px
}

.projetcs-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

@media (max-width: 768px){
    .prject-section {
        padding: 1rem;
    }
}
