.prject-section {
    background: linear-gradient(-90deg, #550195, #000000, #000000);
    color: #fff;
    padding: 2rem;
    padding-bottom: 3rem;
}

.project-s-title{
    font-size: 2rem;
    font-family: 'SairaStencilOne', monospace;
    margin-bottom: 30px
}

.project-s-description{
    font-family: 'VT323', monospace;
    font-size: 1.4rem;
    margin-bottom: 24px
}

.projetcs-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
}

@media (max-width: 768px){
    .project-s-description{
        font-size: 1.12rem;
    }

    .project-s-title{
        font-size: 1.6rem;
      
    }

    .prject-section {
        padding: 3rem;
        background: linear-gradient(140deg, #550195, #000000, #000000);
    }
}
