.project-card {
    width: 360px;
    height: 400px;
    padding: 1rem;
    background: linear-gradient(90deg, #340253 0%, #020020 100%);
    border: 1px solid rgb(153, 0, 255);
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(162, 0, 255, 0.5);
    font-family: 'SairaStencilOne', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.project-title {
    font-family: 'SairaStencilOne', monospace;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 16px;
}

.project-description {
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 1.4rem;
}

.project-images-container {
    position: relative;         
    width: 184px;
    height: 190px;         
    margin-bottom: 20px;   
}

.project-image-wrapper {
    position: absolute;       
}

.project-image {
    width: 240px;               
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.16);
    transition: transform 0.2s;
}

.project-image:hover {
    transform: scale(1.07);
    z-index: 0;
    box-shadow: 5px -5px 5px 5px rgba(176, 91, 255, 0.5);
}

@media (max-width: 768px){
    .project-card {
        padding: 0.5rem;
    }

    .project-title {
        font-size: 1.2rem;
      
    }
    .project-description {
        font-size: 1.12rem;
    }
        
  
}
