.under-development-page {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(160deg, #1b002c, #000000);
  padding: 2rem;
  user-select: none;
}

.under-development-title {
  font-size: 3rem;
  font-family: 'SairaStencilOne', monospace;
  margin-bottom: 1rem;
  color: #9d00ff;
}

.under-development-description {
  font-size: 1.7rem;
  font-family: 'VT323', monospace;
  letter-spacing: 0.1em;
}

@media (max-width: 768px){
  .under-development-title {
    font-size: 2rem;
  }

  .under-development-description {
    font-size: 1.4rem;
  }
}